  html {
      box-sizing: border-box;
      height: 100%;
      text-align: center;
  }

  * {
      box-sizing: inherit;
  }

  .container {
      max-width: 960px;
      margin: 0 auto;
      padding: 0 20px;
      min-height: 100%;
  }
